<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoSolveClient" version="2.1.3" targetFramework="net461" />
  <package id="CountryFlag" version="2.1.0" targetFramework="net461" />
  <package id="Google.Api.CommonProtos" version="2.0.0" targetFramework="net461" />
  <package id="Google.Api.Gax" version="3.0.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Grpc" version="3.0.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Grpc.GrpcCore" version="3.0.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.44.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.44.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.44.1" targetFramework="net461" />
  <package id="Google.Cloud.Speech.V1" version="2.0.0" targetFramework="net461" />
  <package id="Google.LongRunning" version="2.0.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net461" />
  <package id="Grpc.Auth" version="2.27.0" targetFramework="net461" />
  <package id="Grpc.Core" version="2.27.0" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="2.27.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="4.4.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.2" targetFramework="net461" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="net461" />
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PubSub" version="4.0.1" targetFramework="net461" />
  <package id="PuppeteerSharp" version="2.0.4" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="85.0.4183.8700" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net461" />
  <package id="System.Json" version="4.7.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="Unofficial.Microsoft.mshtml" version="7.0.3300" targetFramework="net461" />
  <package id="WpfAnimatedGif" version="2.0.0" targetFramework="net461" />
</packages>